body {
    margin: 2%;
}

a:hover {
    text-decoration: none;
}

button {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div {
    margin: 2% 0;
}

/*Clases*/

.contenedor {
    margin: 2%;
}

.header {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
}

.header h1 {
    margin: 1% 0 1% 1%;
    width: 50%;
}

.botones {
    width: auto;
    margin: auto;
    padding-top: 1%;
}

.botonInicio {
    width: auto;
    align-self: center;
    margin: auto;
}

.botonEliminar {
    float: right;
}

.tipusManteniment {
    margin: auto;
}

/*ID*/

#form input {
    margin-left: 20px;
}



/*Elementos*/

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #DDDDDD;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #DDDDDD;
}

textarea {
    width: 500px;
    height: 75px;
}

div select {
    margin-left: 1%;
}