{% extends "base.html.twig" %}

{% block body %}

    <div class="header">

        <h1>Llistat de clients</h1>

        <div class="botones">

            <a href="/inicio" class="botones_cliente"><button>Tornar a l'inici</button></a>

        </div>

    </div>

    <div class="contenedor">

        {% for cliente in clientes %}

            <div class="list-group">

                <a href="/llistat_clients/{{ cliente.nombre }}/anys/2020"><button type="button" class="list-group-item list-group-item-action">Any 2020</button></a>

            </div>

            <div class="list-group">

                <a href="/llistat_clients/{{ cliente.nombre }}/anys/2021"><button type="button" class="list-group-item list-group-item-action">Any 2021</button></a>

            </div>

            <div class="list-group">

                <a href="/llistat_clients/{{ cliente.nombre }}/anys/2022"><button type="button" class="list-group-item list-group-item-action">Any 2022</button></a>

            </div>

        {% endfor %}

    </div>

{% endblock %}
