{% extends "base.html.twig" %}

{% block body %}

    {% for cliente in clientes %}

        <div class="header">

            <h1>{{ cliente.nombre }}</h1>

            <div class="botonInicio">
                <a href="/inicio"><button type="button" class="tornarInici btn btn-light">Tornar a l'inici</button></a>
            </div>

        </div>

        <div class="contenedor">

            <p>ID client: {{ cliente.id }}</p>

            <p>Hores manteniment mensuals: {{ cliente.horasMantenimiento }} hores</p>

            <div class="botones">

                <a href="/llistar_clients/{{ cliente.nombre }}/editar/{{ cliente.id }}"><button type="button" class="btn btn-light">Editar client</button></a>

                <a href="/llistar_clients/{{ cliente.nombre }}/equips" class="botones_cliente"><button type="button" class="btn btn-light">Llistat d'equips</button></a>

                <a href="/llistat_clients/{{ cliente.nombre }}/anys" class="botones_cliente"><button type="button" class="btn btn-light">Llistat de manteniments</button></a>

            </div>


        </div>

    {% endfor %}

{% endblock %}
