{% extends "base.html.twig" %}

{% block body %}

    <div class="header">

        <h1>Components</h1>

    </div>

    <div class="contenedor">

        <div class="list-group">

            <a href="/llistat_cpu"><button type="button" class="list-group-item list-group-item-action">{{ cpu }}</button></a>

            <a href="/llistat_ram"><button type="button" class="list-group-item list-group-item-action">{{ ram }}</button></a>

            <a href="/llistat_disc_durs"><button type="button" class="list-group-item list-group-item-action">{{ disc_durs }}</button></a>

            <a href="/llistat_sistemes_operatius"><button type="button" class="list-group-item list-group-item-action">{{ sistemes_operatius }}</button></a>

            <a href="/llistat_office"><button type="button" class="list-group-item list-group-item-action">{{ office }}</button></a>

            <a href="/llistat_plaques_base"><button type="button" class="list-group-item list-group-item-action">{{ plaques_base }}</button></a>

            <a href="/llistat_antivirus"><button type="button" class="list-group-item list-group-item-action">{{ antivirus }}</button></a>

        </div>

    </div>

    <a href="/afegir_component"><button>Afergir component</button></a>

    <a href="/inicio"><button>Tornar al inici</button></a>

{% endblock %}