{% extends "base.html.twig" %}

{% block body %}

    <div class="header">

        <h1>Editar equip</h1>

    </div>

    <div class="contenedor">

        {{ form(form) }}

        <a href="javascript:history.back()"><button>Tornar enrere</button></a>

    </div>



{% endblock %}