{% extends "base.html.twig"%}

{% block body %}

    <div class="header">

        <h1>Editar Manteniment</h1>

    </div>

    <div class="contenedor">

        {{ form(form) }}

        <a href="/inicio"><button class="tornarInici">Tornar a l'inici</button></a>

    </div>

{% endblock %}