{% extends "base.html.twig" %}

 {% block stylesheets %}
         <link href="/css/myStyle.css" rel="stylesheet" />
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 {% endblock %}

{% block body %}

        <div class="header">

                <h1>Llistat d'equips ({{ cliente }})</h1>

                <div class="botonInicio">
                        <a href="/inicio"><button type="button" class="tornarInici btn btn-light">Tornar a l'inici</button></a>
                </div>

        </div>

        <div class="contenedor">

                <table class="table table-striped">
                        <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Alias</th>
                                <th scope="col">Usuari</th>
                                <th scope="col">Contrasenya</th>
                                <th scope="col">CPU</th>
                                <th scope="col">RAM</th>
                                <th scope="col">Placa base</th>
                                <th scope="col">Disc dur</th>
                                <th scope="col">Sistema operatiu</th>
                                <th scope="col">Llicencia SO</th>
                                <th scope="col">Office</th>
                                <th scope="col">Llicencia office</th>
                                <th scope="col">Antivirus</th>
                                <th scope="col">Zona</th>
                                <th scope="col">IP</th>
                        </tr>

                        {% for equipo in equipos %}

                                <tr>
                                        <th scope="row"><a href="/llistar_clients/{{ cliente }}/equips/{{ equipo.id }}">{{ equipo.nombre }}</a></th>
                                        <td>{{ equipo.alias }}</td>
                                        <td>{{ equipo.usuario }}</td>
                                        <td>{{ equipo.contrasena }}</td>
                                        <td>{{ equipo.cpu.nombre }}</td>
                                        <td>{{ equipo.ram.nombre }}</td>
                                        <td>{{ equipo.placasBase.nombre }}</td>
                                        <td>{{ equipo.discoDuro.nombre }}</td>
                                        <td>{{ equipo.sistemaOperativo.nombre }}</td>
                                        <td>{{ equipo.licenciaSo }}</td>
                                        <td>{{ equipo.office.nombre }}</td>
                                        <td>{{ equipo.licenciaOffice }}</td>
                                        <td>{{ equipo.antivirus.nombre }}</td>
                                        <td>{{ equipo.zona }}</td>
                                        <td>{{ equipo.ip }}</td>
                                </tr>

                        {% endfor %}

                </table>

                <div class="botones">

                        <a href="/generate-pdf/{{ cliente }}"><button type="button" class="btn btn-light">Generar PDF</button></a>

                        <a href="/llistat_clients/{{ cliente }}"><button>Tornar enrere</button></a>

                </div>

        </div>

{% endblock %}