{% extends "base.html.twig"%}

{% block body %}

    {% for equipo in equipo %}

        <h1>{{ equipo.nombre }} ({{ equipo.alias }})</h1>

        <p>Usuari: {{ equipo.usuario }}</p>

        <p>Contrasenya: {{ equipo.contrasena }}</p>

        <p>CPU: {{ equipo.cpu.nombre }}</p>

        <p>RAM: {{ equipo.ram.nombre }}</p>

        <p>Placa base: {{ equipo.placasBase.nombre }}</p>

        <p>Disc dur: {{ equipo.discoDuro.nombre }}</p>

        <p>Sistema operatiu: {{ equipo.sistemaOperativo.nombre }} </p>

        <p>Llicencia SO: {{ equipo.licenciaSO }} </p>

        <p>Office: {{ equipo.office.nombre }}</p>

        <p>Llicencia Office: {{ equipo.licenciaOffice }}</p>

        <p>Antivirus: {{ equipo.antivirus.nombre }}</p>

        <p>Zona: {{ equipo.zona }}</p>

        <p>IP: {{ equipo.ip }}</p>

        <p>Observacions: {{ equipo.observaciones }}</p>

        <a href="editar/{{ equipo.id }}"><button>Editar equip</button></a>

        <a href="/eliminarEquip/{{ equipo.id }}"><button>Eliminar equip</button></a>

        <a href="javascript:history.back()"><button>Tornar enrere</button></a>

    {% endfor %}

{% endblock %}