{% extends "base.html.twig" %}

{% block body %}

    <div class="header">

        <h1>Inici</h1>

    </div>

    <div class="contenedor">

        <div class="botones list-group">

            <div class="list-group">
                <a href="/nou_manteniment"><button type="button" class="list-group-item list-group-item-action">{{ manteniment }}</button></a>
            </div>

            <div class="list-group">
                <a href="/llistat_clients"><button type="button" class="list-group-item list-group-item-action">{{ clients }}</button></a>
            </div>

            <div class="list-group">
                <a href="/nou_client"><button type="button" class="list-group-item list-group-item-action">{{ nou_client }}</button></a>
            </div>

            <div class="list-group">
                <a href="/nou_equip"><button type="button" class="list-group-item list-group-item-action">{{ nou_equip }}</button></a>
            </div>

            <div class="list-group">
                <a href="/taula_manteniments"><button type="button" class="list-group-item list-group-item-action">{{ taula_manteniments }}</button></a>
            </div>

        </div>

        <div class="botones">

            <a href="/modificar_components"><button type="button" class="btn btn-light">Modificar components</button></a>

        </div>

    </div>





{% endblock %}
