{% extends "base.html.twig" %}

{% block body %}

    <div class="header">

        <h1>Llistat de components</h1>

        <div class="botones">

            <a href="/inicio" class="botones_cliente"><button>Tornar a l'inici</button></a>


        </div>

    </div>

    <div class="contenedor">

        <table class="table table-striped">
            <tr>
                <th scope="col">Nom</th>
            </tr>

            {% for componente in componente %}

                <tr>
                    <th scope="row"><a href="">{{ componente.nombre }}</a></th>
                </tr>

            {% endfor %}

        </table>

    </div>

{% endblock %}