{% extends "base.html.twig" %}

{% block body %}

    <div class="header">

        <h1>Llistat de clients</h1>

        <div class="botones">

            <a href="/inicio" class="botones_cliente"><button>Tornar a l'inici</button></a>

        </div>

    </div>

    <div class="contenedor">

        <div class="list-group">

        {% for cliente in clientes %}

            <div class="list-group">
                <a href="/llistat_clients/{{ cliente.nombre }}"><button type="button" class="list-group-item list-group-item-action">{{ cliente.nombre }}</button></a>
            </div>

        {% endfor %}

        </div>

    </div>

{% endblock %}
