{% extends "base.html.twig"%}

{% block body %}

        <div class="header">

                <h1>Llistat de manteniments {{ cliente.nombre }}</h1>

                <h3 class="tipusManteniment">Manteniment {{ cliente.tipusManteniment }}, amb {{ cliente.horasMantenimiento }} hores cadascun.</h3>

        </div>

        <div class="contenedor d-grid gap-3">

            <div class="p-2 bg-light border">
                <h3>Manteniments Gener - Febrer ({{ totalEneroFebrero }} hores fetes)</h3>
                <ul>
                    {% for mantenimiento in mantenimientos_enero %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}

                    {% for mantenimiento in mantenimientos_febrero %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}
                </ul>
            </div>

            <div class="p-2 bg-light border">
                <h3>Manteniments Març - Abril ({{ totalMarzoAbril }} hores fetes)</h3>
                <ul>
                    {% for mantenimiento in mantenimientos_marzo %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}

                    {% for mantenimiento in mantenimientos_abril %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}
                </ul>
            </div>

            <div class="p-2 bg-light border">
                <h3>Manteniments Maig - Juny ({{ totalMayoJunio }} hores fetes)</h3>
                <ul>
                    {% for mantenimiento in mantenimientos_mayo %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}

                    {% for mantenimiento in mantenimientos_junio %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}
                </ul>
            </div>

            <div class="p-2 bg-light border">
                <h3>Manteniments Juliol - Agost ({{ totalJulioAgosto }} hores fetes)</h3>
                <ul>
                    {% for mantenimiento in mantenimientos_julio %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}

                    {% for mantenimiento in mantenimientos_agosto %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}
                </ul>
            </div>

            <div class="p-2 bg-light border">
                <h3>Manteniments Setembre - Octubre ({{ totalSeptiembreOctubre }} hores fetes)</h3>
                <ul>
                    {% for mantenimiento in mantenimientos_septiembre %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}

                    {% for mantenimiento in mantenimientos_octubre %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}
                </ul>
            </div>

            <div class="p-2 bg-light border">
                <h3>Manteniments Novembre - Desembre ({{ totalNoviembreDiciembre }} hores fetes)</h3>
                <ul>
                    {% for mantenimiento in mantenimientos_noviembre %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}

                    {% for mantenimiento in mantenimientos_diciembre %}

                        <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                    {% endfor %}
                </ul>
            </div>

            <a href="/llistat_clients/{{ cliente.nombre }}"><button>Tornar enrere</button></a>

            <a href="/inicio"><button>Tornar a inici</button></a>

        </div>

{% endblock %}