{% extends "base.html.twig"%}

{% block body %}

        <div class="header">

                <h1>Llistat de manteniments {{ cliente.nombre }}</h1>

                <h3>Manteniment {{ cliente.tipusManteniment }}, amb {{ cliente.horasMantenimiento }} hores cadascun.</h3>

        </div>

        <div class="contenedor">

            <h3>Manteniments Gener ({{ totalEnero }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_enero %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Febrer ({{ totalFebrero }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_febrero %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Març ({{ totalMarzo }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_marzo %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Abril ({{ totalAbril }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_abril %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Maig ({{ totalMayo }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_mayo %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Juny ({{ totalJunio }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_junio %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Juliol ({{ totalJulio }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_julio %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Agost ({{ totalAgosto }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_agosto %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Setembre ({{ totalSeptiembre }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_septiembre %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Octubre ({{ totalOctubre }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_octubre %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Novembre ({{ totalNoviembre }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_noviembre %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <h3>Manteniments Desembre ({{ totalDiciembre }} hores fetes)</h3>
            <ul>
                {% for mantenimiento in mantenimientos_diciembre %}

                    <li><a href="/llistar_clients/{{ cliente.nombre }}/manteniments/{{ mantenimiento.id }}">{{ mantenimiento.fecha }} ({{ mantenimiento.horasTotales }})</a></li>

                {% endfor %}
            </ul>

            <a href="/llistat_clients/{{ cliente.nombre }}"><button>Tornar enrere</button></a>

            <a href="/inicio"><button>Tornar a inici</button></a>

        </div>

{% endblock %}