{% extends "base.html.twig"%}

 {% block stylesheets %}{% endblock %}

{% block body %}

    {% for mantenimiento in mantenimiento %}

        <div class="header">
            <h1>{{ mantenimiento.fecha }}</h1>
        </div>

        <div class="contenedor">
            <p>Cliente: {{ cliente }}</p>

            <p>Hora d'entrada: {{ mantenimiento.horaEntrada }}</p>

            <p>Hora de sortida: {{ mantenimiento.horaSalida }}</p>

            <p>Hores totals: {{ mantenimiento.horasTotales }}h</p>

            <p>Tècnic: {{ mantenimiento.tecnico }}</p>

            <p>Albarà: {{ mantenimiento.albaran }}</p>

            <p>Observacions: {{ mantenimiento.observaciones }}</p>

            <p>ID: {{ mantenimiento.id }}</p>

        </div>

        <a href="/llistar_clients/{{ cliente }}/manteniments/editarManteniment/{{ mantenimiento.id }}"><button>Editar manteniment</button></a>

        <a href="/llistar_clients/{{ cliente }}/manteniments/generarPDF/{{ mantenimiento.id }}"><button>Generar PDF</button></a>

    {% endfor %}

    <a href="/llistar_clients/{{ cliente }}/manteniments"><button>Tornar enrere</button></a>

    <a href="/inicio"><button>Tornar a inici</button></a>


{% endblock %}