{% extends "base.html.twig"%}

{% block body %}

    <div class="header">

        <h1>Nou Manteniment</h1>

        <div class="botonInicio">
            <a href="/inicio"><button type="button" class="tornarInici btn btn-light">Tornar a l'inici</button></a>
        </div>

    </div>

    <div class="contenedor">

        {{ form(form) }}

        <a target="_blank" href="/llistat_clients"><button type="button" class="btn btn-light">Visualitzar manteniments</button></a>

    </div>

{% endblock %}