{% extends "base.html.twig" %}

 {% block stylesheets %}
     <link href="/css/myStyle.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 {% endblock %}

{% block body %}

    <div class="header">

        <h1>Taula Manteniments</h1>

        <div class="botonInicio">
            <a href="/inicio"><button type="button" class="tornarInici btn btn-light">Tornar a l'inici</button></a>
        </div>

    </div>

    <div class="contenedor">

        <table class="table table-striped">
            <tr>

                {% for cliente in clientes %}

                    <th scope="col">{{ cliente.nombre }}</th>

                {% endfor %}

            </tr>


        </table>

    </div>

{% endblock %}
